<div class="row">
  <div class="small-8 large-8 columns">
    <div class='text-center'>
      <h1>Employment</h1>
      <h4>We are currently seeking all characters and ladies-in-waiting!</h4>
    </div>
    <ul>
      <li>Is this you?</li>
      <ul>
        <li>You love kids. (And kids love you!)</li>
        <li>You sing like a princess. (But you don’t have princess-attitude.)</li>
        <li>You love playing dress up.</li>
        <li>You drive.</li>
      </ul>
    </ul>
    <p>Then we’d love to hear from you!</p>
    <p>For consideration, please email your resume/portfolio link to support@princesspartiesnw.com. Please include a link of you singing a Broadway/Princess-style tune and a photograph of you smiling.</p>
    <p>P.S. We are also looking for a very part-time marketing intern. We are happy to work with you to help you receive credit through your school. Internship is unpaid, but you’ll be rewarded with many opportunities, connections, and cupcakes.</p>
  </div>
  <div class="small-4 medium-3 columns">
    <div class='text-center'>
      <h1>About Us</h1>
    </div>
    <p>
      Brunch direct trade lo-fi, PBR post-ironic 90's distillery wayfarers Etsy. Helvetica DIY Etsy gastropub. Whatever gastropub hella polaroid. Skateboard stumptown sartorial actually, readymade chia XOXO Schlitz mlkshk Brooklyn pop-up post-ironic.
    </p>
    <div class='br'></div>
    <div class='text-center'>
      <h1>Social</h1>
      <li class='icon'><a href='https://twitter.com/PrincessPartyNW'><img src='assets/social/twitter_64.png'></a></li>
      <li class='icon'><a href='https://www.facebook.com/princesspartiesnw'><img src='assets/social/facebook_64.png'></a></li>
      <li class='icon'><a href='http://www.pinterest.com/nwprincesses/'><img src='assets/social/pintrest_64.png'></a></li>
      <div class='br'></div>
    </div>
    <div class='text-center'>
      <h1>Ad Space</h1>
      <a href='http://www.pinterest.com/dustiarab/princess-parties-nw/'><img src='assets/about_us.png'></a>
    </div>
  </div>
</div>
